sudo: false

language: python
python:
  - "3.5"

addons:
  apt:
    packages:
      - libboost-program-options-dev
      - libxcursor-dev
      - libxinerama-dev
      - libxrandr-dev

install: pip install tox-travis
script: make run_tests
